<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dicoding">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Binema"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailTV"></activity>
        <receiver
            android:name=".notification.NotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".db.MovieProvider"
            android:authorities="com.example.dicoding.provider"
            android:exported="true"
            android:readPermission="com.example.dicoding.provider.READ_DATABASE"
            android:writePermission="com.example.dicoding.provider.WRITE_DATABASE" />

        <receiver android:name=".MoviesFavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_info" />
        </receiver>

        <service
            android:name=".StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".Detail" />
        <activity android:name=".notification.setting.NotificationSettingActivity" />
        <activity android:name=".Utama_Nav">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>